<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing</h3> -->
    <style>
        .row{
             
            background-image: url("https://i.pinimg.com/736x/bd/40/86/bd4086b073a75c535b043662fe40030f.jpg");
        }
    </style>
    <% layout("/layouts/boilerplate")%>
     
     
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Add New Application</h3>
             
    <form method="POST" action="/listings" novalidate  class="needs-validation">
        <div class="mb-3"> 
        <label for="company" class="form-label"><b>Company Name</b></label>
        <input name="listing[company]" placeholder="Add a company Name" type="text" class="form-control" required/>
        <div class="valid-feedback">Company looks good</div>
    </div>

    <div class="mb-3"> 
        <label for="jobtitle" class="form-label"><b>Job Title</b></label>
        <input name="listing[jobtitle]" placeholder="Add a jobtitle" type="text" class="form-control" required/>
        <div class="valid-feedback">JobTitle looks good</div>
    </div>
         
        <div class="mb-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea name="listing[description]" placeholder="Enter Description" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        
        
        <div class="mb-3">
            <label for="resumeLink" class="form-label"><b>Resume Link</b></label>
            <input name="listing[resumeLink]" placeholder="Enter Resume url/link" type="text" class="form-control" />
            
        </div>

        <div class="mb-3">
            <label for="portfolioLink" class="form-label"><b>Portfolio Link</b></label>
            <input name="listing[portfolioLink]" placeholder="Enter Portfolio url/link" type="text" class="form-control" />
            
        </div>

        <!-- <div class="mb-3">
            <label for="coverletter" class="form-label">Cover-Letter</label>
            <textarea name="listing[coverletter]" placeholder="Enter Coverletter" type="text" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter short cover letter</div>
        </div>

        <div class="mb-3"> 
            <label for="fullname" class="form-label">Full Name</label>
            <input name="listing[fullname]" placeholder="Add a Full Name" type="text" class="form-control" required/>
            <div class="valid-feedback">Name looks good</div>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea name="listing[address]" placeholder="Enter Address" type="text" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter short address</div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-6">
            <label for="city" class="form-label">city</label>
            <input name="listing[city]" placeholder="Gorakhpur" type="text"  class="form-control" required/>
            <div class="invalid-feedback">Please Enter valid city</div>
        </div>
    
        
         
        <div class="mb-3 col-md-6">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter valid country</div>
        </div>
    </div>
        <div class="row">
        <div class="mb-3 col-md-6"> 
            <label for="email" class="form-label">Email</label>
            <input name="listing[email]" placeholder="Add Email" type="text" class="form-control"/>
            <div class="valid-feedback">email looks good</div>
        </div>
        
        
        <div class="mb-3 col-md-6">
            <label for="phonenumber" class="form-label">Phone Number</label>
            <input name="listing[phonenumber]" placeholder="Phone Number" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please Enter valid Phonenumber</div>
        </div>
    </div>

        <div class="mb-3">
            <label for="collegename" class="form-label">College Name</label>
            <input name="listing[collegename]" placeholder="College Name" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter valid college name</div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="cgpa" class="form-label">CGPA</label>
            <input name="listing[cgpa]" placeholder=" 0" type="text" class="form-control" required/>
            <div class="invalid-feedback">Please Enter valid cgpa</div>
        </div>

        <div class="mb-3">
            <label for="skills" class="form-label">Skills</label>
            <input name="listing[skill]" placeholder="Skills" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter skills</div>
        </div>
        -->
        <div class="mb-3">
            <label for="applicationdate" class="form-label"><b>Date of Application</b></label>
            <input name="listing[applicationdate]" placeholder="Date of Application" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter Date of Application</div>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label"><b>Set Status</b></label>
            <!-- <input name="listing[applicationdate]" placeholder="Date of Application" type="text" class="form-control" required /> -->
            <div class="dropdown" name="listing[status]"  onclick="statusdropdown()">
                <div class="select">
                  <span class="selected" >status</span>
                  <div class="caret"></div>
                </div>
                <ul class="menu">
                  <li class="option">
                    <span class="option-text">Accepted</span>
                  </li>
                  <li class="option">
                    <span class="option-text">Interviewed</span>
                  </li>
                  <li class="option">
                    <span class="option-text">Under Consideration</span>
                  </li>
                  <li class="option">
                    <span class="option-text">Inactive</span>
                  </li>
                  <li class="option">
                    <span class="option-text">Rejected</span>
                  </li>
                  <li class="active option">
                    <span class="option-text">Status</span>
                  </li>
                </ul>
              </div>
            <div class="invalid-feedback">Please Set Appropriate Status of application</div>
        </div>

        <br/><br/>
        <button class="btn btn-dark add-btn">ADD</button>
        <br/><br/>
    </form>
</div>
</div>
<!-- </body>
</html> -->

<script>
    function statusdropdown(){
      const dropdowns=document.querySelectorAll(".dropdown");
    
      dropdowns.forEach(dropdown=>{
        const select = dropdown.querySelector(".select");
        const caret = dropdown.querySelector(".caret");
        const menu = dropdown.querySelector(".menu");
        // const options = dropdown.querySelector(".menu li");
         const options = dropdown.querySelectorAll(".option");
        const selected = dropdown.querySelector(".selected");
    
    
        select.addEventListener("click", ()=>{
          select.classList.toggle("select-clicked");
          caret.classList.toggle("caret-rotate");
          menu.classList.toggle("menu-open");
        });
    
    
        options.forEach(option=>{
          option.addEventListener("click",()=>{
            selected.innerText=option.querySelector(".option-text").innerText;
            select.classList.remove("select-clicked");
            caret.classList.remove("caret-rotate");
            menu.classList.remove("menu-open");
    
            options.forEach(option=>{
              option.classList.remove("active");
            });
            option.classList.add("active");
          });
        });
      });
  }
  </script>